/*****************************
************************初始化
*****************************/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Microsoft JhengHei;
    outline:none;/*消除chrome選取藍框*/
}
ul li{
    list-style-type: none;
}
a{
    text-decoration: none;
}
.swiper-container {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.swiper-slide img{
    width: 100%;
    height: 100%;
}
/*#banner .swiper-slide::before{
    content: "";
    position: absolute;
    width: 10px;
    height: 4px;
    background: #007cff;
    bottom: 0;
    left: 0;
    animation-name: movetime;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}*/
@keyframes movetime{
    from{
        width: 2%;
    }
    to{
        width: 100%;
    }
}
.swiper-pagination-bullet{
    width: 10px;
    height: 10px;
    background: #FFF;
    opacity: 0.7;
}
.swiper-pagination-bullet-active{
    background: #007cff;
    opacity: 1;
}.swiper-button-prev{
    background:url(../img/swiper-arrow-left.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 45%;
}
.swiper-button-next{
    background:url(../img/swiper-arrow-right.png);
    background-size: 100%;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    top: 45%;
}
/*****************************
****解析度：1440以上，超大解析度
*****************************/
.container{
    position: relative;
    width: 100%;
    max-width: 1440px;
    margin: auto;
    height: 100%;
}
/*****************************
*******解析度：1025以上，電腦版
*****************************/
.header,.sectioner,.footer{
    position: relative;
    width: 100%;
}
@media only screen and (max-width:1601px){
    .container{
        max-width: 1200px;
    }
}
.topbar{
    background: #00040c;
    color: #FFF;
    overflow: hidden;
    font-size:  14px;
    font-weight:  bold;
    padding: 8px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9;
}
.datetime{
    float:  left;
    line-height: 25px;
}
.datetime p{
    display: inline-block;

}
.datetime .date{
    color: #77a5de;
}
.userdata{
    float: right;
}
.btn-submit,.online-service{
    display: inline-block;
}
.userdata input{
    border: 1px solid #77a5de;
    height: 24px;
    width: 160px;
    padding: 5px;
    border-radius: 5px;
}
.btn-submit{
    width: 130px;
    height: 26px;
    text-align: center;
    border: 1px solid #77a5de;
    color: #77a5de;
    border-radius: 5px;
}
.btn-submit p{
    line-height: 25px;
    cursor: pointer;
}
.btn-submit:hover{
    background: #006dff;
    color:  #FFF;
}
.blue-bg{
    background: #006dff;
    color:  #FFF;
}
.blue-bg:hover{
    color: #FFF;
    background:#1263b9;
}
.online-service{
    /*position: absolute;
    right: -82px;
    top: 4px;*/
    cursor: pointer;
}
.online-service:hover{
    color: #77a5de;
}
.menu-bg{
    background: url("../img/menu-bg.png");
    /*overflow: hidden;*/
    width: 100%;
    height: 80px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.navgition{
    position: fixed;
    z-index: 9;
}
.menu-content{
    float: right;
    margin-right: -14px;
}
.menu-content>ul>li{
    display: inline-block;
    line-height: 80px;
    width: 100px;
    text-align: center;
    position: relative;
    cursor: pointer;
    transition: all 0.3s ease;
    margin: 0 -2px;
}
.droplist-arrow{
    transition: all 0.3s ease;
}
.vertical-flip{
    transform: rotate(-180deg);
}
.menu-content>ul>li:hover{
    background: #2035cd;
}
.menu-content>ul>li>a{
    color: #FFF;
    font-weight: bold;
    transition: all 0.3s ease;
    position: relative;
}
#menu-active{
    background: #2035cd;
}
#menu-active a{
    color: yellow;
}
.menu-active{
    background: #2035cd;
}
.dropdown-list{
    /*display: none;*/
    position:  absolute;
    width:  100%;
    background: #f3f3f3;
    opacity: 0;
    transition: all 0.3s ease;
    z-index: 9;
    height: 0;
    overflow: hidden;
}
.dropdown-list-show{
    opacity: 1;
    height:180px;
}
.dropdown-list .flex-list{
    justify-content: center;
}
.dropdown-list .flex-ch{
    flex: 0 0 20%;
}
.dropdown-list-con{
    height: 100%;
    text-align: center;
    padding: 20px 0;
    border-right: 1px solid #FFF;
    cursor: pointer;
}
.dropdown-list-con .conimg{
    width: 215px;
    height: 125px;
    background: gray;
    margin: auto;
}
.dropdown-list-con .contitle{
    color: gray;
}
.logo{
    float: left;
}
.banner{
    height: 680px;
    margin-top: 38px;
}
.announcement{
    height: 30px;
    background: #212f57;
    color:  #FFF;
    font-size:  16px;
    padding: 0 15px;
}
.announcemen i{
    opacity: 0.5;
}
.announcement marquee{
    position: relative;
    top: 5px;
    width: 97%;
}
.section-tit{
    margin: 0 0 30px 0;
    border-bottom: 5px solid #007cff;
    width: 75px;
    text-align:  center;
    padding: 2px 0;
    font-size:  18px;
    font-weight:  bold;
    color:  #444;
}
.recommendation{
    position:  relative;
    padding: 40px 0;
}
/*.recommendation::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 1000px;
    background:  url("../img/recomend-bg.png");
    top: -50px;
    opacity: 0.45;
}*/
.statistics{
    background: #f2f2f2;
    padding: 30px 0;
}
.flex-list{
    display: flex;
}
.flex-ch{
    flex: 1;
}
.statistics-box{
    text-align: center;
    padding: 70px 0;
    border-right: 1px solid #e3e7f2;
    color:#6f6f6f;
    font-size: 18px;
}
.statistics-title{
    color:  #8c91a2;
    text-align:  center;
    font-size:  14px;
    margin-top: 10px;
}
.text-large{
    color:  #0087ff;
    font-size: 42px;
}

.text-small{
    font-size: 16px;
}
.cooperation{
    padding: 50px 0;
    text-align: center;
}
.cooperation img{
    width: 100%;
}
.ft-nav{
    background: #1c376c;
    padding: 20px 0;
    border-bottom: 1px solid #ffffff47;
}
.ft-nav-content{
    width: 800px;
    margin: auto;
}
.ft-nav-content a{
    display: inline-block;
    color: #7f96c4;
    font-weight: bold;
    font-size: 14px;
    text-align: center;
    width: 130px;
}
.ft-content-limit{
    width: 500px;
    margin: auto;
    padding:  30px 0;
}
.ft-content{
    background: #1c376c;
    color:  #7f96c4;
}
.ft-browser{
    text-align: right;
}
.ft-browser span{
    position:  relative;
    top: -16px;
    font-size:  14px;
    font-weight:  bold;
    opacity: 0.7;
}
.ft-age{
    text-align: right;
}
.ft-age span{
    position:  relative;
    top: -14px;
    font-size:  14px;
    font-weight:  bold;
    opacity: 0.7;
}
.coopright{
    text-align: center;
    font-size:  14px;
    padding:  10px 0;
    opacity: 0.7;
}
.propaganda-banner-img{
    position:  relative;
    width:  99%;
    height: 250px;
    background: lightgray;
    margin:  70px auto;
    text-align:  center;
}
.leaderboard{
    padding: 0 0 10px 0;
    overflow: hidden;
}
.leaderboard .container{
    display: flex;
    margin: 40px auto 0 auto;
}
.leaderboard-title{
    display: flex;
    background: darkgray;
}
.leaderboard-title-ch{
    position: relative;
    flex: 0 0 30%;
    height: 70px;
    left: -24px;
    cursor: pointer;
}
.leaderboard-title-ch::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    transform: skewX(145deg);
    background: gray;
    transition: all 0.3s ease;
}
.leaderboard-title-ch:hover:before{
    background: #006dff;
}
.leaderboard-title-ch-active::before{
    background: #006dff;
}
.leaderboard-title-ch-orange::before{
    background: #ffa800;
}
.leaderboard-title-ch-orange:hover:before{
    background: #ffa800;
}
.leaderboard-title-ch .listname,.leaderboard-title-ch .listnick{
    position: relative;
    z-index: 9;
    left: 35px;
    top: 11px;
}
.listname{
    font-size: 20px;
    color: #FFF;
}
.listnick{
    font-size: 14px;
    color: #FFF;
}
.listimg{
    width: 50px;
    height: 45px;
    background: lightgray;
    float: left;
    position: relative;
    top: 12px;
    left: 31px;
}
.listtext{
    float: left;
}
.leaderboard-content{
    flex: 1;
    display: inline-block;
    background: lightgray;
    margin: 10px;
    overflow: hidden;
}
.leaderboard-list .list-bar{
    background: #14365a;
    color:  #FFF;
    margin-top: 5px;
    padding: 5px 20px;
    overflow: hidden;
}
.leaderboard-list .list-bar>span{
    float:  left;
    display:  block;
    position:  relative;
}
.leaderboard-list .list-bar>span:nth-of-type(1){
    width: 25%;
}
.leaderboard-list .list-bar>span:nth-of-type(2){
    width: 35%;
}
.leaderboard-list .list-bar>span:nth-of-type(3){
    width: 40%;
}
.leaderboard-list .gameimg{
    width: 90%;
    height: 100%;
    background: white;
    border: 1px solid;
    border-radius:  5px;
}
.blue-text{
    color: #007cff;
    font-weight: bold;
    font-size: 17px;
    height: 32px;
    line-height: 32px;
    margin: 7px 0;
}
.blue-text-big{
    font-size: 23px;
}
.gray-text{
    color: gray;
    font-weight: bold;
    font-size: 17px;
    height: 32px;
    line-height: 32px;
    margin: 7px 0;
}
.teaching{
    position: relative;
    width: 100%;
    background: lightgray;
}
.teaching-content{
    position: relative;
    width: 98.5%;
    height: 100%;
    display: flex;
    margin: auto;
}
.teaching-item{
    flex: 1;
    height: 100%;
    background: gray;
    text-align: center;
    color: #FFF;
    border-right: 1px solid #FFF;
    padding: 10px 0;
}
.teaching-img{
    width: 100px;
    height: 100px;
    background: lightgray;
    margin: auto;
}
.page-banner{
    width: 100%;
    height: 400px;
}
.mb-gametitle{
    position: relative;
    width: 100%;
    display: flex;
    background: #afafaf;
    color: #FFF;
    text-align: center;
    border-radius: 5px;
    overflow: hidden;
}
.game-active{
    background: #1080ff;
}
.mb-gametitle-ch{
    flex: 1;
    padding: 20px 0;
    border-right:1px solid #FFF;
    cursor: pointer;
}
.mb-gamebox{
    display: flex;
    flex-wrap: wrap;
    margin: 0 0 0 -1%;
    cursor: pointer;
}
.mb-gamebox-ch{
    flex: 0 0 32.3%;
    margin: 1% 0 0 1%;
    text-align: center;
    font-size: 16px;
}
.gamebox-img{
    width: 100%;
    height: 185px;
    background: #dad9d9;
    border-radius:  5px;
    border: 1px solid #1080ff;
}
.gamebox-text{
    margin: 0.5% 0 0 0;
}
.no-border{
    border:none;
}
.mb-game{
    display: none;
}
.mb-menu-content,.mb-footer-login,.mb-footer,.mb-menu-list,.mb-menu-list-bg{
    display: none;
}
@media only screen and (max-width:1128px){
    .blue-text-big{
        font-size: 18px;
    }
    .blue-text,.gray-text{
        font-size: 16px;
    }
    .leaderboard-title-ch{
        flex: 0 0 35%;
    }
    .banner{
        height: 530px;
    }
    .menu-content>ul>li{
        margin: 0;
        width:88px;
    }
    .menu-content{
        margin: 0;
    }
}
/*****************************
******平板版
*****************************/
@media only screen and (max-width:930px){
   .leaderboard,.statistics,.gamearea,.sticky-sidebar,.menu-content,.topbar,.footer{
       display: none;
   }
   .mb-game,.mb-footer{
       display: block;
   }
   .mb-footer-login{
        /*登入後MB-sidebar*/
        /*display: block;*/
   }
   .banner{
       height: 390px;
       margin-top: 80px;
   }
   .navgition{
       top: 0;
   }
   .teaching-content,.propaganda-banner-img{
       width: 95%;
       margin: auto;
       border-radius: 10px;
       overflow: hidden;
   }
   .propaganda-banner-img{
       margin: 20px auto;
   }
   .recommendation{
        padding: 20px 0;
        width: 95%;
        margin: auto;
   }
   .teaching .container{
        padding: 20px 0;
        background: #cccac8;
   }
   .mb-menu-content{
        display: block;
        float:  right;
        position:  relative;
        color:  #FFF;
        height: 100%;
   }
   .mb-btn-register{
        padding: 5px 10px;
        background: #ff7800;
        border-radius: 10px;
        margin: 0 10px 0 0;
        position: relative;
        top: 28px;
   }
   .mb-btn-login,.mb-btn-service{
        margin: 0 10px 0 0;
        position: relative;
        top: 28px;
   }
   .mb-menu{
        float: right;
        width: 75px;
        height: 100%;
        position: relative;
        top: 0;
        background: #0063cb;
        padding-top: 24px;
   }
   .mb-menu>span{
       display: block;
       position: relative;
       width: 55%;
       height: 4px;
       background: #FFF;
       margin: 0 auto 11px auto;
   }
   .mb-ft-menu{
        padding: 20px 0;
        text-align: center;
        background: gray;
   }
   .mb-ft-menu-img{
        width:  50px;
        height: 50px;
        background: lightgray;
        margin:  auto;
   }
   .mb-ft-menu-text{
       color: #FFF;
       font-size: 14px;
       padding: 5px 0 0 0;
   }
   .mb-menu-list{
        position:  fixed;
        z-index:  9;
        right:  0;
        background: #034284;
        width:  250px;
        top: 80px;
        text-align:  center;
        height: 100%;
        color: #FFF;
        cursor: pointer;
        overflow:auto;
   }
   .mb-menu-list a{
       color: #FFF;
   }
   .mb-menu-list-bg{
       position: fixed;
       top: 80px;
       left: 0;
       width: 100%;
       height: 100%;
       background: rgba(0,0,0,0.85);
       z-index: 9;
   }
   .mb-list-content>li{
       padding: 20px 0;
       border-bottom:1px solid #ffffff6e;
   }
   .mb-list-drop{
        padding: 15px 0 0 0;
        font-size: 14px;
        display: none;
   }
   .mb-list-drop>li{
        padding: 5px 0
   }
   .darlblue{
        background:#002954;
   }
   .dot{
       display: inline-block;
       position: relative;
       width: 9px;
       height: 9px;
       background: #FFF;
       border-radius: 100%;
       margin: 0 5px 0 0;
   }
}

/*****************************
********手機版
*****************************/
@media only screen and (max-width:600px){
    .gamebox-img{
        height: 135px;
    }
}

@media only screen and (max-width:426px){
   .banner,.propaganda-banner-img{
       height: 150px;
   }
   .swiper-button-prev,.swiper-button-next{
       width: 50px;
       height: 50px;
       top: 50%;
   }
   .announcement marquee{
       width: 92%;
   }
   .gamebox-img{
       height: 95px;
   }
   .teaching-img{
       width: 50px;
       height: 50px;
   }
   .teaching-item p{
        font-size: 14px;
   }
   .logo{
        width: 45%;
    }
    .mb-menu-content{
        width: 55%;
    }
    .mb-menu{
        width: 60px;
    }
    .mb-btn-register,.mb-btn-login,.mb-btn-service{
        font-size: 14px;
        margin: 0 5px 0 0;
        top: 30px;
    }
    .mb-ft-menu-img{
        width:  30px;
        height: 30px;
   }
}
@media only screen and (max-width:360px){
    .mb-btn-register,.mb-btn-login,.mb-btn-service{
        top: 20px;
    }
    .mb-menu{
        padding-top: 17px;
    }
    .mb-menu-content{
        width: 63%;
        float: left;
    }
    .logo{
        width: 37%;
    }
    .logo img{
        width:  100%;
        position:  relative;
        top: 5px;
    }
    .menu-bg{
        height: auto;
    }
    .mb-gametitle-ch{
        font-size: 14px;
    }
    .teaching-item p{
        font-size: 13px;
    }
    .banner{
        margin-top: 60px;
    }
}