
.simple-user-door{
    position: fixed;
    z-index: 99;
    width: 600px;
    border-radius: 5px;
    left:calc(50% - 300px);
    transition: all 0.3s ease;
}
.login-popup{
    display: none;
    top:calc(50% - 250px);
}
.register-popup{
    display: none;
    top:calc(50% - 300px);
}
.body-popup-bg{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.85);
    z-index: 99;
    display: none;
    transition: all 0.3s ease;
}
.simple-user-door>.popup-bg{
    background: url(../img/login-register-title-bg.png);
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    text-align:  center;
    padding: 10px 0;
    color:  #FFF;
    width:  100%;
    z-index:  9;
}
.popup-tw{
    font-size:  28px;
}
.popup-eng{
    font-size: 10px;
}
.door-content{
    position: relative;
    width: 592px;
    border: 3px solid #0070e5;
    margin:  auto;
    top: -3px;
    padding:  20px 50px;
    text-align:  center;
    background: #FFF;
}
.door-content .userinput{
    margin: 20px 0;
    position: relative;
}
.userinput-title{
    font-size:  16px;
    font-weight:  bold;
    padding:  10px; 
}
.userinput-typing{
    border-radius:  5px; 
    box-shadow:  none;
    border-style:  solid;
    border-width: 1px;
    padding: 12px 10px;
    width: 360px;
    font-size: 14px;
    color:  #000;
    background: #f0f0f0;
    border-color: transparent;
}
.door-content>.userinput>input:placeholder{
    /*:placeholder，更改input內提示字顏色*/
    color: #b7b7b7;
}
.door-content>.userinput>input:focus{
    /*focus，當點擊到此input時*/
    border-color: #0070e5;
}
.door-content>.userinput>input:focus::placeholder{
    color: #006eff;
}
.door-btn-submit{
    width: 92%;
    margin:  auto;
    border:  1px solid;
    padding:  10px;
    border-radius:  5px;
    margin: 40px auto 20px auto;
    background: #006eff;
    color:  #FFF;
    cursor: pointer;
}
.door-btn-submit:hover{
    background: #1263b9;
}
.door-content .memo-text{
    font-size: 13px;
    position: relative;
}
.door-content .memo-text a{
    color: #006eff;
    padding: 0 0 0 5px;
}
.close-simple-user-door{
    position:  absolute;
    right: -12px;
    z-index:  999;
    background: #FFF;
    color: #197cff;
    width: 40px;
    height: 40px;
    text-align:  center;
    line-height: 34px;
    font-size: 34px;
    border-radius: 100%;
    top: -12px;
    cursor:  pointer;
}
.door-content .tip-area{
    width: 200px;
    position:  relative;
    left: 110px;
    text-align:  left;
    font-size:  14px;
    margin-top: -10px;
}
.door-content .tip-wrong{
    color: red;
}
.door-content .tip-safe{
    color: #1cc96a;
}
.btn-certification{
    position: absolute;
    padding: 0 30px;
    font-size: 14px;
    color: #FFF;
    top: 4px;
    right: 25px;
    height: 80%;
    line-height: 35px;
    border-radius: 5px;
    cursor: pointer;
}
.btn-certification-blue{
    background: #006eff;
}
.btn-certification:hover{
    opacity: 0.85;
}
.btn-certification-gray{
    background: #a0a0a0;
}
.userinput-checkbox{
    width: 17px;
    height: 17px;
    position:  relative;
    top: 2px;
    left: -3px;
    opacity: 0;
    z-index: 9;
    cursor: pointer;
}
.smiple-door-text-three{
    /*註冊彈窗的標題只有三個字的設定*/
    padding-right: 24px;
}
.popup-open{
    /*顯示登入和註冊彈窗與黑背景*/
    display: block;
}
.memo-text input:checked ~ .checkmark:after{
    display: block;
}
.memo-text:hover input ~ .checkmark {
    background: #d7e8ff;
}
.checkmark{
    /*Custom CheckBox*/
    position:  absolute;
    width: 18px;
    height: 18px;
    background: #FFF;
    top: 3px;
    left: 50px;
    border: 1px solid #006eff;
    border-radius: 3px;
}
.checkmark:after{
    content: "";
    display: block;
    border:solid #006eff;
    border-width:0 3px 3px 0;
    width: 4px;
    height: 9px;
    transform:rotate(45deg);
    left: 5px;
    position: absolute;
    display: none;
}

